/* main content */

html {
	height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

main {
	flex-grow: 1;
	padding: 25px 50px;
}

/* text */

p,
h3,
.navbar,
.filter-title p,
.text-form,
.submit-button,
.collapse-button,
.export-button,
.newsample-button,
.select2-results__option--load-fail,
.select2-search__field,
.select2-results__option--highlighted[aria-selected],
.select2-container--default,
.select2-selection__choice,
.select2-results__option,
.select2-selection__rendered,
.accordion,
.accordion-button,
.accordion-item {
	color: #0F3362 !important;
	font-family: "Charis SIL" !important;
	text-align: justify;
	font-size: 18px;
	min-height: 20px !important;
}

.submit-button,
.collapse-button,
.export-button,
.newsample-button {
	font-size: 24px !important;
	text-align: center;
}

h3 {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 24px;
}

.filter-title p {
	font-size: 25px;
	margin: 0;
}

/* containers */

.text-form {
	margin: 10px;
	padding: 10px;
	display: grid;
	grid-template-columns: auto 55%;
	align-items: center;
}

.form-container {
	display: grid;
	grid-template-columns: 45% 45%;
	gap: 0px 50px;
	background-color: #ffffff;
	justify-content: center;
	margin-bottom: 75px;
}

.form-container>div {
	align-items: center;
	background-color: #c2dbbe;
}

.filter-title {
	background-color: #A4CA9D !important;
	height: 45px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* buttons */

.submit-button {
	display: block;
	padding: 20px;
	width: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submit-button,
.collapse-button,
.export-button,
.newsample-button {
	background-color: #A4CA9D;
	border: none;
	border-radius: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

input[type="text"],
select,
.select2-selection--single,
.select2-selection--multiple {
	border: 1px, solid, #296465 !important;
	border-radius: 5px !important;
}

.range-input {
	accent-color: #296465;
}

.select2-results__option--highlighted[aria-selected] {
	background-color: #A4CA9D !important;
}

.sample-buttons-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	gap: 50px;
	justify-content: center;
	padding-top: 25px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
	background-color: #A4CA9D;
}

.tooltip {
	font-family: "Charis SIL";
	--bs-tooltip-bg: #0F3362;
	--bs-tooltip-opacity: 0.8;
	--bs-tooltip-color: #ffffff;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:hover,
.btn-secondary:focus {
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding: 0;
	color: #0F3362;
	background-color: #A4CA9D !important;
	border: 1.5px solid #0F3362 !important;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	align-content: center;
	white-space: nowrap;
	margin-left: px;
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: #aec3aa !important;
}