.navbar {
	color: #296465;
	font-family: "Charis SIL";
}

body {
	background-color: white;
}

p {
	color: #0F3362;
	font-family: "Charis SIL";
	text-align: justify;
	margin: 50px;
}

h3 {
	color: #0F3362;
	font-family: "Charis SIL";
	text-align: justify;
	margin: 50px;
}