{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<h3> <strong>About us</strong> </h3>
<p>
    We are a team of linguistics students from HSE University passionate about language and technology. This website is part of our educational project in the Bachelor's program in Fundamental and Computational Linguistics. Gleb Bubnov worked on the backend, Veronika Tsareva on the frontend, with guidance from our supervisors, Anton Buzanov and Maxim Bazhukov.
</p>
<h3> <strong>About this site</strong> </h3>
<p>
    <strong>Sample</strong> is a subset of languages that typologists use to study cross-linguistic variation. There are two types of samples that pursue different goals. The first type, <strong>variety sample</strong>, is aimed to capture all the linguistic diversity. In other words, this sample is used to study what language <strong>can</strong> do. The second one, <strong>probability sample</strong>, deals with statistical testing of tendencies and correlations. Otherwise spoken, one should use this sample to study what language is <strong>more likely</strong> to do.
</p>
<p>
    There are several different ways of designing a sample. The one presented in Dryer (1989) is <strong>a Genus-Macroarea method</strong>, further developed by Miestamo et al. (2016). This method deals with the differing depth of genealogical groupings and the problem of macroareas. Dryer (1989) suggests a concept of <strong><i>genus</i></strong>, a cluster of languages with a time depth of separation in the area of about 3500 to 4000 years. Therefore, taking into sample one language per genus, a typologist controls genealogical bias. Also, Dryer (1989) assumes the existence of continent-sized areas of contact — <strong><i>macroareas</i></strong>. Miestamo et al. (2016) calculates a number of genera that needs to be taken from different areas with the respect to the percentage that each macroarea represents of the total number of genera (the numbers are presented for different presupposed sample sizes).
</p>
<p>
    <i>Soon, here will be text about the Diversity Value sampling method and a random sample.</i>
</p>
<p>
    This site is built for typologists who want flexible, data-driven tools. Using databases by <a href='https://glottolog.org/'>Glottolog</a> — the most comprehensive catalogue of the world's languages — it lets you create your own custom samples. Choose <strong>your</strong> sampling method, sample size, macroareas, and description language. Discover the full range of customization options on the <a href="/">Make a Sample</a> page.
</p>
<h3><strong>Bibliography</strong></h3>
<p> 
    Bell, Alan. 1978. Language samples. In Joseph H. Greenberg (ed.), <i>Universals of human language, Vol. 1: Method & theory</i>, 123–156. Stanford: Stanford University Press.
    <br>
    Croft, William. 2003. <i>Typology and universals</i>. 2nd edn. Cambridge: Cambridge University Press.
    <br>
    Dryer, Matthew S. 1989. Large linguistic areas and language sampling. <i>Studies in Language</i> 13. 257–292.
    <br>
    Hammarström, Harald & Forkel, Robert & Haspelmath, Martin & Bank, Sebastian. 2024. Glottolog 5.1. Leipzig: Max Planck Institute for Evolutionary Anthropology. <a href='https://doi.org/10.5281/zenodo.14006617'>https://doi.org/10.5281/zenodo.14006617</a> 
    <br>
    Miestamo, Matti, Dik Bakker, and Antti Arppe. 2016. «Sampling for Variety». <i>Linguistic Typology</i> 20 (2): 233–96.
    <br>
    Rijkhoff, Jan, Dik Bakker, Kees Hengeveld & Peter Kahrel. 1993. A method of language sampling. <i>Studies in Language</i> 17. 169–203.
</p>
{% endblock %}