{% extends 'base.html' %}
{% block title %} Make A Sample! {% endblock %}
{% block content %}
<h3 style="text-align: center;"><b>Let's make a sample!</b></h3>
<form action="/sample" method="post">
    <div class="form-container">
        <div class="filter-title">
            <p><b>Obligatory Filters</b></p>
        </div>
        <div class="filter-title">
            <p><b>Extra Filters</b></p>
        </div>
        <div>
            <p class="text-form">
                <label for="name"><b>Name a sample</b> 
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <input type="text" name="name" id="name">
            </p>
            <p class="text-form">
                <label for="sampling-algorithm"><b>Sampling algorithm</b>
               <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
               </label>
                <select class="js-example-basic-single" name="sampling-algorithm">
                    <option value="genus-macroarea">The Genus-Macroarea sampling method</option>
                    <option value="diversity-value">The Diversity Value sampling method</option>
                    <option value="random">The Random Sample</option>
                </select>
            </p>
            <p class="text-form">
                <label for="sample-size"><b>Sample size</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <input class="range-input" type="range" min="0" max="100" value="0" step="1" name="sample-size" id="sample-size" oninput="this.nextElementSibling.value = this.value">
                &nbsp
                <output>0</output>
            </p>
            <p class="text-form">
                <label for="macroareas"><b>Macroareas</b>
               <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="js-example-basic-multiple" name="macroareas[]" multiple="multiple">
                    <option value="Africa">Africa</option>
                    <option value="Australia">Australia</option>
                    <option value="Eurasia">Eurasia</option>
                    <option value="North America">North America</option>
                    <option value="Papunesia">Papunesia</option>
                    <option value="South America">South America</option>
                </select>
            </p>
            <p class="text-form">
                <label for="doc-lang"><b>Documents' Languages</b>
               <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="doc-lang-js" name="docLanguages[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="ranking"><b>Rank Documents By</b>
               <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="js-example-basic-single" name="ranking">
                    <option value="item1">Any</option>
                </select>
            </p>
        </div>
        <div>
            <p class="text-form">
                <label for="include"><b>Include Languages</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="include-lang-js" name="include[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="exclude"><b>Exclude Languages</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="exclude-lang-js" name="exclude[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="gram-feature"><b>Add a GramBank feature</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="grambank-js" name="grambank[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="wals-feature"><b>Add a WALS feature</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="A very important tip"><b>?</b></button>
                </label>
                <select class="wals-js" name="wals[]" multiple="multiple">
                </select>
            </p>
        </div>
    </div>
    <button type="submit" class="submit-button"><b>Make a sample!</b></button>
</form>
{% endblock %}
