{% extends 'base.html' %}
{% block title %} Make A Sample! {% endblock %}
{% block content %}
<h3 style="text-align: center;"><b>Let's make a sample!</b></h3>
<form action="/sample" method="post">
    <div class="form-container">
        <div class="div1">
            <p><b>Obligatory Filters</b></p>
        </div>
        <div class="div2">
            <p><b>Extra Filters</b></p>
        </div>
        <div class="div3">
            <p class="text-form">
                <label for="name"><b>Name a Sample</b> 
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can name a sample that you are going to work with (e.g. «Sample for my MA thesis»)."><b>?</b></button>
                </label>
                <input class="text-input" type="text" name="name" id="name">
            </p>
            <p class="text-form">
                <label for="sampling-algorithm"><b>Sampling Algorithm</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you choose the sampling method. See more about available sampling methods on the <a href='/manual'>Manual</a> page."><b>?</b></button>
                </label>
                <select class="js-example-basic-single" name="sampling-algorithm">
                    <option value="genus-macroarea">The Genus-Macroarea sampling method</option>
                    <option value="diversity-value">The Diversity Value sampling method</option>
                    <option value="random">A Random Sample</option>
                </select>
            </p>
            <p class="text-form">
                <label for="sample-size"><b>Sample Size</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can choose the size of your future sample."><b>?</b></button>
                </label>
                <input class="range-input" type="text" id="sampleSizeInput" name="sample-size" id="sample-size" value="50">
            </p>
            <p class="text-form">
                <label for="macroareas"><b>Macroareas</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can choose languages from which macroareas you want to include in your sample. The macroarea list is as in <a href='glottolog.org'>Glottolog</a>."><b>?</b></button>
                </label>
                <select class="js-example-basic-multiple" name="macroareas[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="doc-lang"><b>Descriptions' Languages</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can choose the languages of the descriptions. For example, if you are able to read only in English, the algorithm will suggest to you only the languages with English descriptions available."><b>?</b></button>
                </label>
                <select class="doc-lang-js" name="docLanguages[]" multiple="multiple">
                </select>
            </p>
        </div>
        <div class="div4">
            <p class="text-form">
                <label for="include"><b>Include Languages</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can include particular languages in the sample that you would like to work with."><b>?</b></button>
                </label>
                <select class="include-lang-js" name="include[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="exclude"><b>Exclude Languages</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can exclude from the sample particular languages that you would not like to work with."><b>?</b></button>
                </label>
                <select class="exclude-lang-js" name="exclude[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="gram-feature"><b>Add a GramBank feature</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can restrict the sample to languages that have particular characteristics in the Grambank database. See the <a href='https://grambank.clld.org/'>Grambank site</a> to explore the available parameters. Be aware that the number of languages annotated in Grambank is limited."><b>?</b></button>
                </label>
                <select class="grambank-js" name="grambank[]" multiple="multiple">
                </select>
            </p>
            <p class="text-form">
                <label for="wals-feature"><b>Add a WALS feature</b>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can restrict the sample to languages that have particular characteristics in the WALS database. See the <a href='https://wals.info/'>WALS site</a> to explore the available parameters. Be aware that the number of languages annotated in WALS is limited."><b>?</b></button>
                </label>
                <select class="wals-js" name="wals[]" multiple="multiple">
                </select>
            </p>
        </div>
        <div class="div5">
            <div class="accordion" style="min-height: 200px" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" style="text-align: center;">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        <span class="d-block text-center w-100"> 
                        <strong>Search Settings</strong>
                        </span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body" style="background-color: #c2dbbe;">
                            <p class="text-form">
                                <label for="ranking"><b>Select Languages By</b>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="As parameters of ranking we use year of the description's publishing and its length in pages. Here you can choose how relevant these parameters are for your sample. For details, see <a href='/manual'>Manual</a> page."><b>?</b></button>
                                </label>
                                <select class="js-example-basic-single" name="ranking">
                                    <option value="random">Random</option>
                                    <option value="descriptive_ranking" selected>Extensiveness of description (<span>2 &middot;&nbsp;pages + 0.5 &middot;&nbsp;year</span>)</option>
                                    <option value="source_count">Total number of Descriptions</option>
                                    <option value="year_ranking">Descriptions' publication year</option>
                                    <option value="pages_ranking">Descriptions' page count</option>
                                </select>
                            </p>
                            <div class="text-form">
                                <label for="languageModality"><b>Language Modality</b>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can choose, whether your language sample will contain Spoken or Sign Languages."><b>?</b></button>
                                </label>
                                <div class="checkbox-group">
                                    <label><input type="checkbox" name="isSpoken" checked="true">Include Spoken Languages</label>
                                    <label><input type="checkbox" name="isSign" checked="true">Include Sign Languages</label>
                                </div>
                            </div>
                            <p class="text-form">
                                <label for="document-types"><b>Descriptions' Type</b>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="Here you can specify the types of descriptions (as in <a href='glottolog.org'>Glottolog</a>). For example, if you are interested in working only with dictionaries, the algorithm will suggest to you only languages with available dictionaries and make the source list relevant for your query. All types are selected by default."><b>?</b></button>
                                </label>
                                <select class="description-type-js" name="documentTypes[]" multiple="multiple">
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div6">
            <button type="submit" class="submit-button" id="submitBtn"><b>Make a Sample!</b></button>
        </div>
    </div>
</form>

<!-- Progress Modal -->
<div class="modal fade" id="progressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="progressModalLabel">Creating Sample...</h5>
            </div>
            <div class="modal-body">
                <div class="progress mb-3" style="height: 30px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progressBar" style="width: 0%"></div>
                </div>
                <p class="text-center mb-0" id="progressText">Initializing...</p>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const progressModal = new bootstrap.Modal(document.getElementById('progressModal'));
    const progressBar = document.getElementById('progressBar');
    const progressText = document.getElementById('progressText');
    
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        
        // Show progress modal
        progressModal.show();
        progressBar.style.width = '10%';
        progressText.textContent = 'Initializing filters...';
        
        // Collect form data
        const formData = new FormData(form);
        
        // Send POST request
        fetch('/sample', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            
            // Simulate progress updates
            let progress = 10;
            const progressInterval = setInterval(() => {
                progress += Math.random() * 15;
                if (progress > 90) progress = 90;
                progressBar.style.width = progress + '%';
                
                if (progress < 30) {
                    progressText.textContent = 'Applying filters...';
                } else if (progress < 60) {
                    progressText.textContent = 'Selecting languages...';
                } else {
                    progressText.textContent = 'Finalizing sample...';
                }
            }, 200);
            
            return response.text().then(html => {
                clearInterval(progressInterval);
                return html;
            });
        })
        .then(html => {
            progressBar.style.width = '100%';
            progressText.textContent = 'Complete!';
            
            // Wait a bit before navigating
            setTimeout(() => {
                // Hide modal first
                progressModal.hide();
                
                // Write HTML to document and navigate properly
                document.open();
                document.write(html);
                document.close();
            }, 500);
        })
        .catch(error => {
            console.error('Error:', error);
            progressText.textContent = 'Error creating sample!';
            progressText.classList.add('text-danger');
            setTimeout(() => {
                progressModal.hide();
            }, 2000);
        });
    });
});
</script>
{% endblock %}