{% extends 'base.html' %}
{% block title %} Manual {% endblock %}
{% block content %}
<h3><strong>Manual: How to make a Sample</strong></h3>
<p> <strong>1. Obligatory Filters</strong> </p>
<ul>
    <li><code>Name a Sample</code> enables you to name a sample that you are going to work with (e.g. «Sample for my MA thesis»). </li>
    <li><code>Sampling Algorithm</code> enables you to choose the sampling method. See more about available sampling methods on the <a href="/about">About</a> page.</li>
    <li><code>Sample Size</code> enables you to choose the size of your future sample. The minimum size is ? and the maximum is ?.</li>
    <li><code>Macroareas</code> enables you to choose languages from which macroareas you want to include in your sample. The macroarea list is as in <a href="glottolog.org">Glottolog</a>.</li>
    <li><code>Documents' Languages</code> enables you to choose the languages of the descriptions. For example, if you are able to read only in English, the algorithm will suggest to you only the languages with English descriptions available.</li>
</ul>
<p> <strong>2. Extra Filters</strong> </p>
<ul>
    <li><code>Include Languages</code> enables you to include in the sample particular languages that you would like to work with.</li>
    <li><code>Exclude Languages</code> enables you to exclude in the sample particular languages that you would like to work with.</li>
    <li><code>Add a Grambank feature</code> enables you to restrict the sample to languages that have particular characteristics in the Grambank database. See the <a href="https://grambank.clld.org/">Grambank site</a> to explore the available parameters. Be aware that the number of languages annotated in Grambank is limited.</li>
    <li><code>Add a WALS feature</code> enables you to restrict the sample to languages that have particular characteristics in the WALS database. See the <a href="https://wals.info/">WALS site</a> to explore the available parameters. Be aware that the number of languages annotated in WALS is limited.</li>
</ul>
<p> <strong>3. Search Settings</strong> </p>
<ul>
    <li><i>Soon, here will be the description of search settings.</i></li>
</ul>
{% endblock %}