{% extends 'base.html' %}
{% block title %} Manual {% endblock %}
{% block content %}
<h3> How this framework works? </h3>
<p> <b>1. Methodology</b> </p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae elementum leo, vitae tempor ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce dui odio, sodales id euismod eu, vestibulum id neque. Nullam sed dignissim leo, luctus auctor sem. Nunc at sapien accumsan, cursus enim sed, lacinia lectus. Nulla nisl quam, sollicitudin eu volutpat in, sollicitudin at enim. Nunc elit mi, laoreet in accumsan et, ultrices ut purus. Nulla dignissim eu felis lobortis commodo. Nullam non ante luctus, vehicula risus at, vehicula felis. In sodales, neque vitae luctus ultricies, ex neque cursus est, ut laoreet erat nibh ut lacus. Maecenas at mi condimentum, congue ipsum vehicula, aliquam ante. Nulla fermentum est non tristique euismod. Nam euismod aliquam ullamcorper. Quisque dictum, libero at tincidunt facilisis, urna eros sollicitudin massa, ac consectetur diam nunc id est.
</p>
<p> <b>2. Features</b> </p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae elementum leo, vitae tempor ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce dui odio, sodales id euismod eu, vestibulum id neque. Nullam sed dignissim leo, luctus auctor sem. Nunc at sapien accumsan, cursus enim sed, lacinia lectus. Nulla nisl quam, sollicitudin eu volutpat in, sollicitudin at enim. Nunc elit mi, laoreet in accumsan et, ultrices ut purus. Nulla dignissim eu felis lobortis commodo. Nullam non ante luctus, vehicula risus at, vehicula felis. In sodales, neque vitae luctus ultricies, ex neque cursus est, ut laoreet erat nibh ut lacus. Maecenas at mi condimentum, congue ipsum vehicula, aliquam ante. Nulla fermentum est non tristique euismod. Nam euismod aliquam ullamcorper. Quisque dictum, libero at tincidunt facilisis, urna eros sollicitudin massa, ac consectetur diam nunc id est.
</p>
<p> <b>Resources</b>
    <br><br>
    Bell, Alan. 1978. Language samples. In Joseph H. Greenberg (ed.), Universals of human language, Vol. 1: Method & theory, 123–156. Stanford: Stanford University Press.
    <br><br>
    Croft, William. 2003. Typology and universals. 2nd edn. Cambridge: Cambridge University Press.
    <br><br>
    Dryer, Matthew S. 1989. Large linguistic areas and language sampling. Studies in Language 13. 257–292.
    <br><br>
    Hammarström, Harald & Forkel, Robert & Haspelmath, Martin & Bank, Sebastian. 2024. Glottolog 5.1. Leipzig: Max Planck Institute for Evolutionary Anthropology. https://doi.org/10.5281/zenodo.14006617 Miestamo, Matti, Dik Bakker, and Antti Arppe. 2016. «Sampling for Variety». Linguistic Typology 20 (2): 233–96.
    <br><br>
    Rijkhoff, Jan, Dik Bakker, Kees Hengeveld & Peter Kahrel. 1993. A method of language sampling. Studies in Language 17. 169–203.
</p>
{% endblock %}